.album-card {
  width: 150px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.details-btn:hover {
  background: rgba(0,0,0,.67);
}
h2 {
  text-align: center;
}
