<h2 *ngIf="selectedUserName; else default_text"><strong>{{selectedUserName | uppercase}}</strong></h2>
<ng-template #default_text><h2>Albums</h2></ng-template>

<app-select-users class="select"></app-select-users>

<div class="albums-container">
   <mat-card class="album-card" *ngFor="let album of filteredAlbums">
     <a class="album-card-photo" [routerLink]="['/album', album.id]"><img mat-card-image src="{{album.thumbnailUrl}}" alt="{{album.title}}"></a>
     <mat-card-header>
       <img mat-card-avatar src="{{album.thumbnailUrl}}" alt="{{album.title}}">
       <mat-card-subtitle>AlbumId:{{album.id}}<br>UserId: {{album.userId}}</mat-card-subtitle>
     </mat-card-header>

     <mat-card-content>
         {{album.title}}
     </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary" class="details-btn" [routerLink]="['/album', album.id]">See Details</button>
      </mat-card-actions>
    </mat-card>
</div>
